@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: normal;
  src: local('Oranienbaum'),
  local('Oranienbaum-Regular'),
  url('../../fonts/oranienbaum/Oranienbaum.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/oranienbaum/Oranienbaum.woff') format('woff'),
  url('../../fonts/oranienbaum/Oranienbaum.woff2') format('woff2'),
  url('../../fonts/oranienbaum/Oranienbaum.svg#Oranienbaum') format('svg'),
  url('../../fonts/oranienbaum/Oranienbaum.ttf') format('truetype');
}
